esources:
  port6000SecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "awseb-e-ikm8dqmrqm-stack-AWSEBSecurityGroup-1P7XECHCJ0GXK"]}
      IpProtocol: tcp
      ToPort: 6000
      FromPort: 6000
      SourceSecurityGroupName: { "Fn::GetAtt": ["AWSEBLoadBalancer", "Multidocker-env"] }